.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}


header{
	height: $headerHeight;
	div,
	nav{
		
		height: $headerHeight;
	}
	div{
		min-width: $nameWidth;
		float:left;
	}
	nav{
		min-width: $hNavWidth;
	}
}
.content{
	height: 100%;
	article{
		width: $sideBarWidth;
		min-height: 1000px;
		.avatar{
		}
	}
}
	

