.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}


header{
	height: $headerHeight;
	div,
	nav{
		
		height: $headerHeight;
	}
	div{
		min-width: $nameWidth;
		float:left;
	}
	nav{
		min-width: $hNavWidth;
	}
}
.content{
	article{
		outline: 1px solid #111;
		width: $sideBarWidth;
	}
}
	

