header{
	background-color: $ltBlue;
	font-family: $Bebas;
	font-size: $navFontsSize;
	color: $white;
	line-height: $headerHeight;
	border-bottom: 2px solid $dkGray;
	h1{
		text-align: center;
	}
	ul{
		font-size: 0;
	}
	li{
		display: inline-block;
		font-size: 0;
		height: $headerHeight;
		text-align: left;
		border-left:2px solid $dkGray;
		&:last-child{
			border-right:2px solid $dkGray;
		}
		a{
			text-decoration: none;
			color: $white;
			display: block;
			padding: 0 50px;
			font-size: $navFontsSize;
			&:hover{
				background-color: $dkGray;
			}
		}
	}
}