.sideBar{
	width: 20%;
	background-color: $grey;
	border-right: 2px solid $dkGray;
	color: $white;
	font-family: $RoborLight;

	h2{
		font-size: $navFontsSize * 0.5;
		margin-left: #{($topWidth / 100 * 4) + "px"};
		
	}
	span{

			background-image: url($img + "icons.png");
			background-repeat: no-repeat;
			width: 30px;
			height: 25px;
			display: inline-block;
			position: absolute;
			top: 8px;
			left: 10px;
	}
	


section{
	padding-top: 20px;
	outline: 1px solid red;
	min-height: 100px;
	position: relative;
}



.avatar{
	padding-top: 0;
	height: 200px;
	text-align:center;
		img{
		width: 50%;
		border: 5px solid $ltBlue;
		border-radius: 50%;
		@include vertical-align(relative);
	}
}

.about{
	h2>span{
		background-position: 0 1px;
	}
	p{
		font-size: $navFontsSize * 0.44;
		padding: 13px 35px 54px 20px;
	}
}

.contacts{
	h2>span{
		background-position: 0 -30px;
	}
	address{
		padding-left:84px;
		padding-top: 20px;
		&:nth-child(2) > span{
			height: 40px;
			top:40px;
			left: 48px;
			background-position: -1px -106px;
		}
		&:nth-child(3) > span{
			height: 40px;
			top:76px;
			left: 48px;
			background-position: -1px -158px;
		}
		&:nth-child(4) > span{
			height: 40px;
			top:113px;
			left: 48px;
			background-position: -1px -207px;
		}
		
	}
}

.scills{
	h2>span{
		background-position: 0 -66px;
		top: 11px;
	}
}

}

