/*variables*/
$topWidth : 1024;
$topHeight : 1000;

/*colors*/
$ltBlue : #00b9ee;
$dkGray : #333333;
$white : #fff;
$grey: #737373;

/*fonts*/
$Bebas : "BebasBold";
$RoborLight : "RobotoLight";

/*sizes*/
	/*header*/
	$nameWidth: #{($topWidth / 100 * 30) + "px"};
	$hNavWidth: #{($topWidth / 100 * 70) + "px"}; 
	$headerHeight: 74px;
	$navFontsSize: 32px;
	/*content*/
	$sideBarWidth: #{($topWidth / 100 * 30) + "px"};

/*url*/
$img: "../img/";