/*variables*/
$topWidth : 100%;
$topHeight : 1000px;

/*colors*/
$ltBlue : #00b9ee;
$dkGray : #333333;
$white : #fff;
$grey: #737373;

/*fonts*/
$Bebas : "BebasBold";
$RoborLight : "RobotoLight";

/*size*/
$headerHeight: 74px;
$navFontsSize: 32px;