

body{
	position: relative;
}

.wrapper, .sidebar { height: 100%; }
.wrapper{
	width: 100%;
	overflow-x: hidden;
	height: 100%;
	
}


a:active, a:focus,a,img ,textarea:focus, input:focus, button:focus{
  outline: none;
}

a,a:hover,a:active,a:visited{
	color: $white;
}





::selection {background: $ltBlue}
::-moz-selection {background: $ltBlue;}
::-webkit-selection {background: $ltBlue; color:$white;}


#ieError{
		left: 0;
    	right: 0;
    	top: 50%;
    	margin-left: auto;
    	margin-right: auto;
		position: absolute;
		font-size: 35px;
		text-align: center;
		display: none;
		z-index: 9999999;
		color: #fff;
		text-transform: uppercase;
		a{
			color: #323B74;
			text-decoration: underline;
		}
}


.success{
	background: none repeat scroll 0 0 #000;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999999999;
	opacity: 0.8;
	display: none;
	.msg{
		left: 0;
    	right: 0;
    	top: 50%;
    	margin-left: auto;
    	margin-right: auto;
		position: absolute;
		color: $white;
		text-transform: uppercase;
		font-family: $RoborLight;
		font-size: 35px;
		text-align: center;
	}
	}

.preloader{
	background: none repeat scroll 0 0 #00B9EE;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	text-align: center;
			.loading,
			.loading::before,
			.loading::after {
			  position: absolute;
			 
			  border: 1px solid rgba(255, 255, 255, 0.5);
			  border-left:2px solid rgba(255, 255, 255, 1);
			  -webkit-border-radius: 999px;
			  -moz-border-radius: 999px;
			  border-radius: 999px;
			}

			.loading {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			  height: 50px;
			  width: 50px;
			  -webkit-animation: animation-rotate 1000ms linear infinite;
			  -moz-animation: animation-rotate 1000ms linear infinite;
			  -o-animation: animation-rotate 1000ms linear infinite;
			  animation: animation-rotate 1000ms linear infinite;
			}

			.loading::before {
				 top: 50%;
			  content: "";
			  margin: -23px 0 0 -23px;
			  height: 44px;
			  width: 44px;
			  -webkit-animation: animation-rotate 1000ms linear infinite;
			  -moz-animation: animation-rotate 1000ms linear infinite;
			  -o-animation: animation-rotate 1000ms linear infinite;
			  animation: animation-rotate 1000ms linear infinite;
			}

			.loading::after {
				 top: 50%;
			  content: "";
			  margin: -29px 0 0 -29px;
			  height: 56px;
			  width: 56px;
			  -webkit-animation: animation-rotate 2000ms linear infinite;
			  -moz-animation: animation-rotate 2000ms linear infinite;
			  -o-animation: animation-rotate 2000ms linear infinite;
			  animation: animation-rotate 2000ms linear infinite;
			}

			@-webkit-keyframes animation-rotate {
			  100% {
			    -webkit-transform: rotate(360deg);
			  }
			}

			@-moz-keyframes animation-rotate {
			  100% {
			    -moz-transform: rotate(360deg);
			  }
			}

			@-o-keyframes animation-rotate {
			  100% {
			    -o-transform: rotate(360deg);
			  }
			}

			@keyframes animation-rotate {
			  100% {
			    transform: rotate(360deg);
			  }
			}
}


.bt_up_wrap_fixed{
		position: fixed;
		
		left: 0;
		right:0;
		bottom:15px;
		top: auto;
		height: 36px;
		display: none;
		
		//transition: all 0.5s ease 0s;
		.bt_up{
			opacity: 0.5;
			width: 55px;
			z-index: 99999;
			height: 56px;
			cursor: pointer;
			font-size: 55px;
			color: darken($dkGray,10%);
			transition: all 0.5s ease 0s;
			&:hover{

			opacity: 1;
			}
		}
		
	}



header{
	font-size: $headerFontsSize + 0.6em;
	width: 100%;
	min-height: $headerHeight;
	background-color: $ltBlue;
	a{
		min-width: 130px;
		text-decoration: none;
		color: $white;

		&:hover{
			text-decoration: none;
			color: $white;
		}
		&:active{
			text-decoration: none;
			color: $white;
		}
		&:visited{
			text-decoration: none;
			color: $white;
		}
		&:focus{
			text-decoration: none;
			color: $white;
		}

	}
	.top_name{
	    float: left;
	    transition: all 0.5s ease 0s;
		width: 248px;
	    z-index: 1000;
			}
	.top_menu{
		ul li{
		float: left;
		text-align: center;
		-moz-user-select: none;
		-webkit-user-select: none;
		}

	}
	
}
.main{
	width: 100%;
	display: table;
	height: 100%;
	.about span,.contacts span, .skills h2 span, .status h2 span{
		width: 30px;
		height: 30px;
		position: relative;
		top: 3px;
		display: inline-block;
	}
	.sideBar{
		width: 248px;
		background: $grey;
	    transition: all 0.8s ease 0s;
	    display: inline-table;
	    zoom: 1;
 		*display: inline;
		section{
			min-height: $sectionHeigth + px;
			padding: ($sectionHeigth / 18) + px;
			position: relative;
			h2{
				font-size: $headerFontsSize + 0.4 +em;
				font-family: $Bebas;
				letter-spacing: 2px;
				text-transform: uppercase;
				span{
					font-size: 22px;
				}
			}
		}
		.avatar{
			
			top: ($sectionHeigth / 6) + px;
			text-align: center;
			img{
				width: 150px;
				height: 150px;
			}
			
		}
		.about{
			p{
				font-size: $headerFontsSize +em;
				padding: ($sectionHeigth / 15) + px;
			}
		}
		.contacts{
			min-height: 150px;
			h2>span{
				background-position: 0 -30px;

			}
			address{
				font-size: $headerFontsSize + em;
				padding-left: ($sideBarWidth / 6) + px;
				padding-top: 20px;
				position: relative;
				i{
					position:relative;
					top: 8px;
					right: 5px;
					font-size: 28px;
				}
				a{
					height: 40px;
					text-transform: uppercase;
					font-size: 12px;
					cursor: pointer;
				}
			}
		}
		.skills{
			padding-top: 20px;
			h2>span{
				background-position: 0 -66px;
			}
			.indicator{
				width: $indicatorWidth + px;
				margin: 45px 0;
				height: 10px;
				margin-left:($sideBarWidth  / 5) + px;
				position: relative;
				&>span{
					position: relative;
					right: 35px;
					bottom: 12px;
				}
				
				.loader{
					height: 10px;
					position: absolute;
					top:0;
				}
				.num_skill{
					position: absolute;
					left: ($indicatorWidth + 10) + px;
					top: -4px;
				}
			
			}
			i{
				display: none;
				}
		}
		.status{
				display: none;
			}
		.form{
			display: none;
		}
	}
	.sideBarToAbout{
		display: block;
		h2 span{
			display: none;
		}
		width: 100%;
		transition: all 0.8s ease 0s;
		section h2{
				text-align: center;
				font-size: $headerFontsSize + 0.8 +em;
			}
		.avatar{
			
			top: ($sectionHeigth / 3) + px;
			text-align: center;
			img{
				transition: all 0.5s ease 0s;
				width: 200px;
				height: 200px;
			}
		}
		.about{
			margin-top: 50px;
			p{
				line-height: 30px;
				font-size: $headerFontsSize +em;
				padding: 50px 25%;
			}
		}
		.contacts{
			text-align: center;
			address{
				display: inline-block;
				padding: 0 20px;
				.icons{
					position: relative;
				    top: 10px;
				}
				a{
					text-align: left;
				}

			}
		}
		.skills{
			.skill_wrap{
				
			
			
			i{
			    text-align: center;
			    display: block;
			    font-family: $RoborLight;
			    text-transform: uppercase;
			    margin-top: 30px;
			}
			
			.indicator{
				margin: 10px auto 15px;
				width: $indicatorWidth * 3 + px;
				height: 20px;
				.icons{
					font-size: 45px;
					right: 50px;
			
				}
				.loader{
					height: 20px;
					position: absolute;
					top:0;
				}
				.num_skill{
					position: absolute;
					left: ($indicatorWidth + 5)*3 + px;
					top: 0;
				}
			}
			
		}
	}
	.form{
		margin: 20px auto;
		margin-bottom: 70px;
		.input_wrap{
			margin: 20px auto;
			width: $indicatorWidth * 3 + px;
			text-align: center;

			label{
				text-transform: uppercase;
				font-family: $RoborLight;
			}
			input{
					padding: 1.2em;
					font-size: 16px;
					color: $white;
				    display: block;
				    width: 100%;
				    background-color: darken($grey,20%);
				    border: 2px solid $ltBlue;
				    height: 30px;
				    margin-top: 10px;
				    height: auto;
				    transition: all 0.8s ease 0s;
				}
			textarea{
				font-size: 16px;
				line-height: 20px;
				border: 2px solid $ltBlue;
				margin-top: 10px;
				color: $white;
				width: 100%;
				height: 150px;
				background-color: darken($grey,20%);
				resize: none;
				padding: 1.2em;
				transition: all 0.8s ease 0s;
			}
			}
			button{
				text-align: center;
				display: block;
				margin: 0 auto;
				padding: 5px 10px;
				background-color: $dkGray;
				color: $white;
				border: 2px solid $ltBlue;
				font-family: $Bebas;
				letter-spacing: 1px;
				transition: all 0.2s ease 0s;
				&:hover{
					background-color: $ltBlue;
					border: 2px solid darken($grey,20%);
				}

			}
			.error_form{
			    width: 100%;
			    text-align: left;
			    color: #B83535;
			    text-transform: uppercase;
			    font-weight: 900;
			    margin-top: 20px;
			    padding-left: 10px;
			    display: block;
			    height: 10px;
			    font-size: 14px;
			    opacity: 0;
			}

		}
		.status{
			margin-top: 70px;
			h2 span{display: none;}
				display: block;
				p{
					text-align: center;
					padding: 40px 0;
					text-transform: uppercase;
					font-size: 30px;
				}
			}
		}
	.content{
		display: table-cell;
		transition: all 0.5s ease 0s;
		width: 100%;
		h2{
			font-size: $headerFontsSize  + 2 +em;
			text-align: center;
			padding-top: $topHeight / 100 * 12 +px;
		}
		.jobs{
			min-height: 1000px;
			transition: all 0.5s ease 0s;
			margin-top: $topHeight / 100 *10 +px;
			text-align: center;
			.jobs_wrap{
				width: 270px;
				height: 200px;
				display: inline-block;
				position: relative;
				margin: 10px;
				text-transform: uppercase;
				font-size: 14px;
				font-family: $Bebas;
				overflow: hidden;
				border: 1px solid $grey;
				&:hover .jobs_content{
					opacity: 1;
					background-color: rgba(0,0,0,.85);
					padding-top: 22%;
				}
			}
			img{
				margin: 0;
				width: 270px;
				height: auto;
				padding: 0;
			}
			.jobs_content{
				position:absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				text-align: center;
				color: $white;
				padding-top: 25%;
				opacity: 0;
				transition: all .35s;
					a{
						border: 2px solid $ltBlue;
						font-size: 16px;
						letter-spacing: 1px;
						padding: 5px;
						color: $white;
						text-decoration: none;
					}
					h3{
						margin-bottom: 25px;
						letter-spacing: 2px;
						font-size: 18px;
					}
						
			}

		}
		.section_job{
			min-height: 800px;
			width: 100%;
			font-family: $RoborLight;
			line-height: 2;
			.logo_job_wrap{
				width: 150px;
				margin: 0 auto;
				text-align: center;
				padding-top: 70px;
				padding-bottom: 5px;
				border-radius: 50%;
				margin-bottom: 10px;
				img{
					width: 150px;
					border-radius: 50%;
					height: 150px;
					border: 3px solid $ltBlue;
					
				}
				h3 a{
					font-family: $Bebas;
					text-transform: uppercase;
					font-size: 22px;
					&:hover{
						text-decoration: none;
						color: $white;
					}
					&:active{
						text-decoration: none;
						color: $white;
					}
					&:focus{
						text-decoration: none;
						color: $white;
					}
				}
			}
			.jobs_name{
				text-align: center;
				text-transform: uppercase;
				font-size: 28px;
				letter-spacing: 1px;
				font-family: $Bebas;
			}
			.description_job{
				padding: 0 15%;

			}
			.gallery_job{
				margin-top: 60px;
				padding-bottom: 60px;
				text-align: center;
				.galery_content{
					transition: all 0.2s ease 0s;
					position: absolute;
					height: 109px;
					width: 130px;
					background-color: rgba(0,0,0,.75);
					z-index: 1000;
					opacity: 0;
					&:hover{
						opacity: 1;
					}
				}

				ul li{
					display: inline-block;
					padding: 0 10px;
					position: relative;
					margin: 0 20px;

				}
				a{
					
					display: block;
					
					hidden: 100%;
					width: 100%;


				}
				img{
					max-width: 130px;
					
					
					


				}
				i{
					left: 0;
					font-size: 35px;
				    position: absolute;
				    right: 0;
				    top: 20px;
				    color: #ddd;
				}
			}
		}
	}
}
footer{
	min-height: $footerHeight;
	text-align: center;
	background-color: darken($dkGray,10%);
	color: $white;
	position: relative;
	.bt_up_wrap{
			color: darken($dkGray,10%);
			position: absolute;
			top: -35px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		.bt_up{
			width: 55px;
			height: 56px;
			cursor: pointer;
			font-size: 55px;
		}
	}
	
	.copy{
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		span{
			font-family: $RoborLight;
			font-size: 12px;
		}
	}
	.name,{
		position: relative;
   		width: 100%; 
    	height: $footerHeight;

		h4{
			margin: 0 auto;
			position: relative;
			top: 50%;
			font-family: $Bebas;
			font-size: 20px;
			letter-spacing: 0.5px;
		}
	}
	.footer_jobs{
   		width: 100%;
    	padding-top: 30px;
    	.footer_jobs_wrap{
    			top: 20%;
    			width: 90px;
				height: 70px;
				display: inline-block;
				position: relative;
				margin: 10px;
				border: 1px solid darken($dkGray,15%);
				overflow: hidden;
    		img{
    			width: 100%;
    			height: auto;
    		}
    		.footer_jobs_active{
    			position: absolute;
    			width: 100%;
    			height: 100%;
    			background-color: rgba(255,255,255,.2);
				transition: all 0.2s ease 0s;
				opacity: 0;
				z-index: 1000;
    		}
    		&:hover .footer_jobs_active{
				opacity: 1;
    		}
    	}
	}

	.footer_contacts{
		height: $footerHeight;
		text-transform: uppercase;
			.form_scroll{
				cursor: pointer;
			}
			address{
				position: relative;
				top:35%;
				display: inline-block;

			}
			a{
				font-family: "IconsFont";
				text-decoration: none;
				letter-spacing: 1px;
				&:hover{
					text-decoration: none;
					color: $white;
				}
				&:active{
					text-decoration: none;
					color: $white;
				}
				&:visited{
					text-decoration: none;
					color: $white;
				}
				&:focus{
					text-decoration: none;
					color: $white;
				}
			}
    	}

}

.darken{
	background-color: $dkGray;
	color: $white;
	a{
		color: $white;
	}
	.gallery_job img{
		border:1px solid darken($dkGray,10%);
	}
}
.lighten{
	background-color: $grey;
	color: $white;
	a{
		color: $white;
	}
	.gallery_job img{
		border:1px solid darken($grey,10%);
	}
}
.white{
	background-color: $white;
	color: $dkGray;
	a{
		color: $dkGray;
	}
	.gallery_job img{
		border:1px solid darken($white,50%);
	}
}

.scroll_tabs_wrap{
	position: fixed;
	top: 35%;
	right: 15px;
	z-index: 10000;
	display:none;
}


.scroll_tabs{
	margin-top: 5px;
	transition: all 0.2s ease 0s;
	height: 15px;
	width: 15px;
	display: block;
	border: 2px solid $ltBlue;
	border-radius: 50%;
	cursor: pointer;
	&:hover{
		background-color:darken($ltBlue, 5%)!important;
		border: 2px solid darken($ltBlue, 5%)!important;
	}
}
.scroll_tabs_cap{
	transition: all 0.2s ease 0s;
	cursor: pointer;
	position: absolute;
	top:-30px;
	left: -8px;
	color: $ltBlue;
	font-size: 32px;
	&:hover{
		color:darken($ltBlue, 5%)!important;
		text-decoration: none;
	}
	&:visited,&:active,&:focus{
		color:darken($ltBlue, 5%)!important;
		text-decoration: none;
	}
}

.mfp-arrow-right{
	right: 120px;
}
.mfp-arrow-left{
	left: 120px;
}
