.wrapper{
	width: 100%;
	overflow-x: hidden;
}
a:active, a:focus,a,img {
  outline: none;
}

a,a:hover,a:active,a:visited{
	color: $white;
}


::selection {background: $ltBlue}
::-moz-selection {background: $ltBlue;}
::-webkit-selection {background: $ltBlue; color:$white;}

.preloader{
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	.loader_inner{
		background-image: url("../img/preloader.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-posirion: center center;
		background-color: #fff;
		height: 60px;
		width: 60px;
		margin-top: -30px;
		margin-left: -30px;
		left: 50%;
		top: 50%;
		position: absolute;}
}



header{
	font-size: $headerFontsSize + 0.6em;
	width: 100%;
	min-height: $headerHeight;
	background-color: $ltBlue;
	a{
		min-width: 130px;
		text-decoration: none;
		color: $white;
		&:hover{
			text-decoration: none;
			color: $white;
		}
		&:active{
			text-decoration: none;
			color: $white;
		}
		&:visited{
			text-decoration: none;
			color: $white;
		}
		&:focus{
			text-decoration: none;
			color: $white;
		}

	}
	.top_name{
	    float: left;
	    transition: all 0.5s ease 0s;
		width: 248px;
	    z-index: 1000;
			}
	.top_menu{
		ul li{
		float: left;
		text-align: center;
		}

	}
	
}
.main{
	.about span,.contacts span, .skills h2 span{
		width: 30px;
		height: 30px;
		position: relative;
		top: 3px;
		display: inline-block;
	}
	.sideBar{
		display: none;
		background: $grey;
	    left: 250px;
	    margin-left: -250px;
	    position: absolute;
	    transition: all 0.8s ease 0s;
		width: 250px;
	    z-index: 1000;
		section{
			min-height: $sectionHeigth + px;
			padding: ($sectionHeigth / 18) + px;
			position: relative;
			h2{
				font-size: $headerFontsSize + 0.4 +em;
				font-family: $Bebas;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		.avatar{
			
			top: ($sectionHeigth / 6) + px;
			text-align: center;
			img{
				width: 150px;
				height: 150px;
			}
			
		}
		.about{
			p{
				font-size: $headerFontsSize +em;
				padding: ($sectionHeigth / 15) + px;
			}
		}
		.contacts{
			min-height: 150px;
			h2>span{
				background-position: 0 -30px;

			}
			address{
				font-size: $headerFontsSize + em; 
				margin-left: ($sideBarWidth / 3) + px;
				padding-top: 20px;
				position: relative;
				a{
					height: 40px;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}
		.skills{
			padding-top: 20px;
			h2>span{
				background-position: 0 -66px;
				top: 6px;
			}
			.indicator{
				width: $indicatorWidth + px;
				margin: 45px 0;
				height: 10px;
				margin-left:($sideBarWidth  / 5) + px;;
				position: relative;
				&>span{
					
					i{
						width: 30px;
						font-size: $headerFontsSize /1.5 +em;
						position: absolute;
						top: -10px;
						left: 1px;
						text-align: center;
					}
				}
				
				.loader{
					height: 10px;
					position: absolute;
					top:0;
				}
				.num_skill{
					position: absolute;
					left: ($indicatorWidth + 10) + px;
					top: -4px;
				}
			
			}
		}
	}
	.sideBarToAbout{
		width: 100%;
		h2{
				text-align: center;
				font-size: $headerFontsSize + 0.5 +em;
			}
		.avatar{
			
			top: ($sectionHeigth / 3) + px;
			text-align: center;
			img{
				transition: all 0.5s ease 0.15s;
				width: 200px;
				height: 200px;
			}
		}
		.about{
			margin-top: 50px;
			
			span{
				display: none;
			}
			p{
				line-height: 30px;
				font-size: $headerFontsSize +em;
				padding: 50px 25%;
			}
		}
		.contacts{
			span{
				display: none;
			}
			text-align: center;
			address{
				display: inline-block;

			}
		}
		.skills{
			h2{
				span{
					display: none;
				}
			}
			
			.indicator{
				margin: 45px auto;
				width: $indicatorWidth * 3 + px;
				height: 20px;
				.loader{
					height: 20px;
					position: absolute;
					top:0;
				}
				.num_skill{
					position: absolute;
					left: ($indicatorWidth + 5)*3 + px;
					top: 0;
				}
			}
			
		}
	}
	.content{
		transition: all 0.5s ease 0.15s;
		width: 100%;
		padding-left: 250px;
		h2{
			font-size: $headerFontsSize  + 2 +em;
			text-align: center;
			padding-top: $topHeight / 100 * 12 +px;
		}
		.jobs{
			min-height: 1000px;
			transition: all 0.5s ease 0s;
			margin-top: $topHeight / 100 *10 +px;
			text-align: center;
			.jobs_wrap{
				width: 270px;
				height: 200px;
				display: inline-block;
				position: relative;
				margin: 10px;
				text-transform: uppercase;
				font-size: 14px;
				font-family: $Bebas;
				overflow: hidden;
				border: 1px solid $grey;
				&:hover .jobs_content{
					opacity: 1;
					background-color: rgba(0,0,0,.85);
				}
			}
			img{
				margin: 0;
				width: 270px;
				height: auto;
				padding: 0;
			}
			.jobs_content{
				position:absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				text-align: center;
				color: $white;
				padding-top: 25%;
				opacity: 0;
				transition: all .35s;
					a{
						border: 2px solid $ltBlue;
						font-size: 16px;
						letter-spacing: 1px;
						padding: 5px;
						color: $white;
						text-decoration: none;
					}
					h3{
						margin-bottom: 25px;
						letter-spacing: 2px;
						font-size: 18px;
					}
					p{
						font-size: 10px;
						color: #ccc;
					}		
			}

		}
		.section_job{
			min-height: 800px;
			width: 100%;
			font-family: $RoborLight;
			line-height: 2;
			.logo_job_wrap{
				width: 150px;
				margin: 0 auto;
				text-align: center;
				padding-top: 70px;
				padding-bottom: 5px;
				border-radius: 50%;
				margin-bottom: 10px;
				img{
					width: 150px;
					border-radius: 50%;
					height: 150px;
					border: 3px solid $ltBlue;
					
				}
				h3 a{
					font-family: $Bebas;
					text-transform: uppercase;
					font-size: 22px;
					&:hover{
						text-decoration: none;
						color: $white;
					}
					&:active{
						text-decoration: none;
						color: $white;
					}
					&:focus{
						text-decoration: none;
						color: $white;
					}
				}
			}
			.jobs_name{
				text-align: center;
				text-transform: uppercase;
				font-size: 28px;
				letter-spacing: 1px;
				font-family: $Bebas;
			}
			.description_job{
				padding: 0 15%;

			}
			.gallery_job{
				margin-top: 60px;
				padding-bottom: 60px;
				text-align: center;
				ul li{
					display: inline-block;
					padding: 0 10px;
				}
				a{
					margin: 0 20px;
				}
				img{
					max-width: 130px;
				}
			}
		}
	}
}
footer{
	min-height: $footerHeight;
	text-align: center;
	background-color: darken($dkGray,10%);
	color: $white;
	//position: relative;
	.copy{
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		span{
			font-family: $RoborLight;
			font-size: 12px;
		}
	}
	.name,{
		position: relative;
   		width: 100%; 
    	height: $footerHeight;

		h4{
			margin: 0 auto;
			position: relative;
			top: 50%;
			font-family: $Bebas;
			font-size: 20px;
			letter-spacing: 0.5px;
		}
	}
	.footer_jobs{
   		width: 100%;
    	padding-top: 30px;
    	.footer_jobs_wrap{
    			top: 20%;
    			width: 90px;
				height: 70px;
				display: inline-block;
				position: relative;
				margin: 10px;
				border: 1px solid darken($dkGray,15%);
				overflow: hidden;
    		img{
    			width: 100%;
    			height: auto;
    		}
    		.footer_jobs_active{
    			position: absolute;
    			width: 100%;
    			height: 100%;
    			background-color: rgba(255,255,255,.2);
				transition: all 0.2s ease 0s;
				opacity: 0;
				z-index: 1000;
    		}
    		&:hover .footer_jobs_active{
				opacity: 1;
    		}
    	}
	}

	.footer_contacts{
		height: $footerHeight;
		text-transform: uppercase;
			address{
				top:35%;
				
			}
			a{
				font-family: $Bebas;
				letter-spacing: 1px;

			}
    	}

}

.darken{
	background-color: $dkGray;
	color: $white;
	a{
		color: $white;
	}
	.gallery_job img{
		border:1px solid darken($dkGray,10%);
	}
}
.lighten{
	background-color: $grey;
	color: $white;
	a{
		color: $white;
	}
	.gallery_job img{
		border:1px solid darken($grey,10%);
	}
}
.white{
	background-color: $white;
	color: $dkGray;
	a{
		color: $dkGray;
	}
	.gallery_job img{
		border:1px solid darken($white,50%);
	}
}

.scroll_tabs_wrap{
	position: fixed;
	top: 35%;
	right: 15px;
	z-index: 100000;
	display:none;
}


.scroll_tabs{
	margin-top: 5px;
	transition: all 0.2s ease 0s;
	height: 15px;
	width: 15px;
	display: block;
	border: 2px solid $ltBlue;
	border-radius: 50%;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover{
		background-color:darken($ltBlue, 5%)!important;
		border: 2px solid darken($ltBlue, 5%)!important;
	}
}

.mfp-arrow-right{
	right: 120px;
}
.mfp-arrow-left{
	left: 120px;
}
