header{
	background-color: $ltBlue;
	font-family: $Bebas;
	color: $white;
	line-height: $headerHeight;
	border-bottom: 2px solid $dkGray;
	h1{
		text-align: center;

	}
	li{
		//text-align: left;
		
			text-decoration: none;
			padding: 0 30px;
			color: $white;
			display: block;
			transition: all 0.1s ease-in-out;
			cursor: pointer;
			&:hover{
				background-color: lighten($dkGray,5%);
				color: $white;
				text-decoration: none;
			}
	}
}

.active{
	background-color: $dkGray;
	color: $white;
	text-decoration: none;
}