.icons{
	font-family: "IconsFont";
	font-size: 32px;
	display: inline-block;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.i_person::before{
	content: 'i';
}

.i_mail::before{
	content: 'a';
}

.i_arrow::before{
	content: 'j';
}

.i_vk::before{
	content: 'l';
}

.i_html::before{
	content: 'e';
}

.i_css::before{
	content: 'b';
}

.i_js::before{
	content: 'h';
}
