.sideBar{
	background-color: $grey;
	border-right: 2px solid $dkGray;
	color: $white;
	font-family: $RoborLight;
	span{
		background-image: url($img + "icons.png");
		background-repeat: no-repeat;
	}
	


.avatar{
		img{
		border: 5px solid $ltBlue;
		border-radius: 50%;
		margin-bottom: 30px;
	}
}
.scills{
	.indicator{
		background-color: $dkGray;
		span{
			text-transform: uppercase;
		}
		.loader{
			background-color: $ltBlue;
		}
	}
}

}

